.mts { margin-top: 5px; }
.mrs { margin-right: 5px; }
.mbs { margin-bottom: 5px; }
.mls { margin-left: 5px; }

.mtm { margin-top: 10px; }
.mrm { margin-right: 10px; }
.mbm { margin-bottom: 10px; }
.mlm { margin-left: 10px; }

.mtl { margin-top: 20px; }
.mrl { margin-right: 20px; }
.mbl { margin-bottom: 20px; }
.mll { margin-left: 20px; }